@keyframes dropdown2-fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  /* 100% { opacity: 0; } */
}

.dp-dropdown2-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  user-select: none;

  .dropdown2-button {
    display: inline-block;
    position: relative;
    color: #212529;
    background-color: #e2e6ea;
    border-color: #f8f9fa;
    text-align: left;
    cursor: pointer;
    height: 100%;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;

    &:disabled {
      opacity: 0.65;
      pointer-events: none;
    }

    &:hover {
      /* background-color: #f8f9fa; */
    }
    &:focus {
      /* background-color: #f8f9fa; */
      /* box-shadow: 0 0 0 0.2rem rgb(0 123 255 /50%); */
    }

    &.dropdown2-button-nodata {
      pointer-events: none;
    }

    .dropdown2-arrow {
      position: absolute;
      display: inline-block;
      transform: translateY(-56%);
      top: 56%;
      right: 0.75rem;
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: " ";
      border-top: 0.3em solid #999;
      border-right: 0.3em solid transparent;
      border-bottom: 0 #999;
      border-left: 0.3em solid transparent;

      &.dropdown2-arrow-active {
        transform: rotate(180deg);
        top: 45%;
      }
    }

    .dropdown2-label {
      display: block;
      margin-right: 0.75rem;
      /* overflow: hidden; */
      /* text-overflow: ellipsis; */

      &.dropdown2-selected {
        font-weight: bold;
      }

      &.dropdown2-placeholder {
        color: #777777;
      }
    }
  }

  .dropdown2-list-default {
    overflow-y: auto;
  }

  .dropdown2-list-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #212529;
    background-color: #ffffff;
    font-size: 1rem;
    text-align: left;
    border-radius: 0.25rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    z-index: 1099;

    -webkit-animation: dropdown2-fadeinout 0.6s linear forwards;
    animation: dropdown2-fadeinout 0.6s linear forwards;
    transition: all 200ms ease;
    -webkit-overflow-scrolling: touch;

    /* .dropdown2-list-items .list-dk-scroll-view {
    max-height: 200px;
    } */

    .dropdown2-group-item {
      padding: 0 2px;
      font-style: italic;
    }

    .dropdown2-item {
      display: block;
      width: 100%;
      text-decoration: none;
      /* line-height: 32px; */
      min-height: 40px;
      cursor: pointer;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      margin-bottom: 2px;

      &:hover {
        background-color: #f2f9fc;
      }

      &.dropdown2-item-disabled {
        opacity: 0.65;
        pointer-events: none;
      }

      &.dropdown2-item-selected {
        background-color: #f2f9fc;
        color: #333333;
      }

      p {
        padding: 0.25rem 1rem;
        margin: 0;
        line-height: 32px;
      }
    }
  }
}
